################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fashion_API/.vs/Fashion_API/FileContentIndex/176ef13b-95c1-4735-99fb-7de0569e1178.vsidx
